name: CI/CD Pipeline (AWS)

on:
  push:
    branches: [ main ]

jobs:
  security-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  build-deploy:
    needs: security-scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v3

      # Configure AWS Credentials via OIDC (no static keys!)
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions-role
          aws-region: us-east-1

      # Login to ECR
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # Build & Push
      - name: Build, Tag, Push
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/devops-todo-app:$IMAGE_TAG .
          docker push $ECR_REGISTRY/devops-todo-app:$IMAGE_TAG

      # Update Kubeconfig
      - name: Update kubeconfig
        run: aws eks update-kubeconfig --name devops-eks --region us-east-1

      # Deploy
      - name: Deploy to EKS
        run: |
          kubectl set image deployment/todo-app \
            todo=${{ steps.login-ecr.outputs.registry }}/devops-todo-app:${{ github.sha }} -n default
          kubectl rollout status deployment/todo-app -n default